@import 'bootstrap-variables';

body {
  font-size: 16px;
  font-weight: 400;

  @media (max-width: $screen-xs-max) {
    h1 {
      font-size: 24px;
    }
    .p-x-lg {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.block-title {
  font-weight: 700;
  font-size: 32px !important;
  line-height: 1.3 !important;
}

.b-head {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/empty-chair.jpg);
  background-position: top center;
  background-size: cover;

  h1 {
    font-weight: 700;
    font-size: 42px;

    @media (max-width: $screen-xs-max) {
      font-size: 28px;
    }
  }
}

.b-me {
  background: #efefef url(../images/b_main.jpg) bottom right no-repeat;
  background-size: 50%;  

  @media (max-width: $screen-xs-max) {
    background-size: 100%;
    padding-bottom: 75%; //240px
  }

  &__sign {
    color: white;
    font-weight: 700;
    position: absolute;
    right: 70px;
    bottom: 45px;

    @media (max-width: 768px) {
      right: 20px;
      bottom: 20px;
    }
  }
}

.b-odd {
  background-color: #efefef;
}

.btn {
  white-space: normal;
}

.diamond {
  /*border: solid #bbb 3px;*/
}

.brief {
  max-width: 200px;
  margin: 0 auto;
}

.shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.b-join {
  background-color: #f5f5f5;

  background-image: url(../images/b_anchor.jpg);

  .text-muted {
    color: #777;
  }

  h1 {
    margin-top: 80px;
    font-weight: 600;
  }
}
